* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

header {
	display: flex;
	align-items: center;
	background: #f7f7f7;
	height: 32px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	padding-left: 5px;
	border-bottom: 1px solid #DDDDDD;
}

#refresh {
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: absolute;
    right: 5px;
}

#refresh:hover {
	-webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

body {
	min-width: 300px;
}

#question {
	font-family: 'Montserrat', sans-serif;
	margin-left: 5px;
	padding-left: 5px;
	border-radius: 5px;
	height: 25px;
	width: 200px;
	border: 2px solid #f5f5f5;
}

#submit, #copy {
	margin-left: 5px;
	border-radius: 5px;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 2px;
	font-family: 'Montserrat', sans-serif;
	color: #b5aeb5;
	background: #f5f5f5;
	border: none;
}

#submit:hover {
	background: #d6d6d6;
}

#copy:hover {
	background: #d6d6d6;
}

#answer {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
}

#share {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

#image {
	display: block;
  	margin: auto;
}

form {
	display: flex;
	flex-direction: row;
	visibility: hidden;
	border-radius: 5px;
	border: 2px solid #f5f5f5;
	padding: 3px;
}

#url {
	display: block;
	margin: auto;
	border-radius: 5px;
	height: 25px;
	padding-left: 5px;
	border: none;
}